.about{
    width: 100%;
    /* height: 750px; */
    /* margin-top: 270px; */
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    margin-bottom: 30px;
    gap: 10px;
    padding-top: 40px;
    padding-bottom: 40px;
}
.about>h2{
    font-size: 30px;
}
.about>p{
    width: 70%;
    text-align: center;
    font-size: 15px;
}

.aboutus{
    width: 100%;
    height: 220px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}

.services{
    width: 87%;
    height: auto;
    /* background-color: red; */
    display: grid;
    margin-top: 15px;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
}

.us{
    width: 100%;
    height: 280px;
    background-color: white;
    border-radius: 10px;
    transition: all ease-in 0.3ms;
    display: flex;
    flex-direction: column;
    padding: 25px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
    transition: all ease-in 0.4ms;
}

.us:hover{
    cursor: pointer;
    margin-top: -4px;
}

.iconDiv{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.iconDiv> h3{
    font-size: 18px;
    font-weight: 600;
    /* color: rgb(21, 137, 183); */
    color: black;
}

.icon{
    width: 50px;
    height: auto;
    /* background-color: rgb(199, 54, 54); */
    /* background-color: rgb(242, 245, 245); */
    /* background-color: gainsboro; */
    display: flex;
    align-items: center;
    justify-content: left;
    font-size: 40px;
    border-radius: 50px;
    /* color: whitesmoke; */
    /* color: white; */
    color: rgb(21, 137, 183);
}
