<div class="about">
    <h2>WHO ARE WE?</h2>
    <p>We are experts in the world of Energy Consumption Management. Utilizing AI tools, we have created a secure Model that analyzes real-time energy data from IOT devices to identify anomalies, peak demand periods and energy-saving opportunities. </p>

    <div class="services">
        <div class="us">
          <div class="icon">
            <ng-icon name="heroBolt"/>
          </div>
        </div>
        <div class="us">

        </div>
        <div class="us">

        </div>
        <div class="us">

        </div>
        <div class="us">

        </div>
        <div class="us">

        </div>
    </div>
    <!-- Historical data is leveraged to ensure 99.9% accuracy in the real-time forecasting of energy consumption.  -->
</div>
<!-- our mission
 our vision
 our values
 our culture -->
<!-- compelling story showcase brand's values and mission -->