<div class="about">
      <h2>Our Services</h2>
      <p>We are experts in the world of Energy Consumption Management.</p>
    <div class="services">
        <div class="us">
            <div class="iconDiv">
          <div class="icon">
            <ng-icon name="heroBolt"/>
          </div>
          <h3>Prediction Accuracy</h3>
          </div>
          <p>Our Model is designed with an ability to capture nonlinear dependencies and temporal patterns which results in highly accurate energy consumption forecasts, reducing common errors found in traditional models.</p>
        </div>
        <div class="us">
            <div class="iconDiv">
                <div class="icon">
                  <ng-icon name="heroBolt"/>
                </div>
                <h3>Scalability & Efficiency</h3>
                </div>
                <p>The use of advanced optimization techniques ensures that the system can handle large-scale datasets without compromising on computational efficiency, making it suitable for industrial environments with high energy demands.
                </p>
        </div>
        <div class="us">
            <div class="iconDiv">
                <div class="icon">
                  <ng-icon name="heroBolt"/>
                </div>
                <h3>Energy Optimzation & Cost Savings</h3>
                </div>
                <p>Our Model allows for dynamic adjustments, reducing overconsumption and operational costs while enhancing energy efficiency.</p>
        </div>
        <div class="us">
            <div class="iconDiv">
                <div class="icon">
                  <ng-icon name="heroBolt"/>
                </div>
                <h3>Anomaly Detection</h3>
                </div>
                <p>Our Model can detect unusual patterns or energy leaks, enabling early intervention and minimizing potential losses.
                </p>
        </div>
        <div class="us">
            <div class="iconDiv">
                <div class="icon">
                  <ng-icon name="heroBolt"/>
                </div>
                <h3>Sustainability</h3>
                </div>
                <p>By reducing energy wastage and optimizing resource usage, our system contributes to sustainability goals and minimizes environmental impacts, such as carbon emissions.
                </p>
        </div>
        <div class="us">
            <div class="iconDiv">
                <div class="icon">
                  <ng-icon name="heroBolt"/>
                </div>
                <h3>Adaptability to Industrial Conditions</h3>
                </div>
                <p>We have designed our model to accommodate the unique complexities of industrial environments, such as fluctuating energy demands and diverse machinery requirements.
                </p>
        </div>
        <div class="us">
          <div class="iconDiv">
              <div class="icon">
                <ng-icon name="heroBolt"/>
              </div>
              <h3>Real-Time Energy Predictions</h3>
              </div>
              <p>We are committed to dynamic real-time energy consumption predictions with minimal latency. Our Model turns live data into instant predictions with little to no delay.
              </p>
      </div>
    </div>
    <!-- Historical data is leveraged to ensure 99.9% accuracy in the real-time forecasting of energy consumption.  -->
</div>