<section class="stories" id= "realTime">
    <header class="iconWhy">
    <div style="background-color: coral;" class="iconStory">
      <ng-icon name="matEnergySavingsLeafOutline"/>
    </div>
    <h2 style="font-weight: 500;">Our Accomplished Goals</h2>
  </header>
  <h2>We Are Committed to Dynamic Real-time Predictions with Minimal Latency</h2>
  <article class="detail">
    <img src="/Ecovision.webp" alt="">
    <div class="analyze">

      <div class="analyzeSub">
        <div class="omo">
          <h2>99.9 <span style="color: rgb(92, 92, 92); font-weight: 700;">%</span></h2>
        <p style="color: grey; font-size: 13px; font-weight: 500; text-align: center;">Prediction Accuracy</p>
        </div>
        <div class="lyze1">
          <ng-icon name="bootstrapCheck2Circle"/>
        </div>
      </div>

      <div class="analyzeSub">
        <div class="lyze2">
          <ng-icon name="letsTimeProgress" />
        </div>
        <div class="omo">
          <h2>0.001<span style="color: rgb(92, 92, 92); font-weight: 700;">ms</span></h2>
        <p style="color: grey; font-size: 13px; font-weight: 500;">Predictions in miliseconds</p>
        </div>
      </div>

       <div class="analyzeSub">
        <div class="omo">
          <h2>100% <span style="color: rgb(92, 92, 92); font-weight: 700;">safe</span></h2>
        <p style="color: grey; font-size: 13px; font-weight: 500;">No Anomalies</p>
        </div>
        <div  class="lyze3">
          <ng-icon name="matWarningAmberOutline" />
        </div>
       </div>

       <!-- <div class="analyzeSub">
        <div class="omo">
          <h2>4.5/5</h2>
        <p style="color: grey; font-size: 13px; font-weight: 500;">Ratings from Clients</p>
        </div>
        <div  class="lyze3">
          <ng-icon name="heroStarSolid" />
        </div>
       </div> -->
    </div>
  </article>
  </section>