
    <nav class="navbar">
        <div class = "divImg">
            <img src = "/Energyyy.png" />
        </div>
      <ul>
        <li 
        class = "list"
        routerLink = "/"
        routerLinkActive="active"
        >Home</li>
        <li 
        class = "list"
        routerLink = "/aboutus"
        routerLinkActive="active"
        >About us</li>
        <li 
        class = "list"
        routerLink = "/predictions"
        routerLinkActive="active"
        >Predictions</li>
        <li 
        class = "list"
        routerLink = "/solutions"
        routerLinkActive="active"
        >Solutions</li>
        <li 
        class = "list"
        routerLink = "/contact"
        routerLinkActive = "active"
        >Contact</li>
      </ul>

      <button class="explore">Explore Predictions</button>
      </nav>
  