
    <nav class="navbar" [class.scrolled]="scrolled">
        <div class = "divImg">
            <h2>RENEWHUB</h2>
        </div>
      <ul>
        <li 
        class = "list"
        routerLink = "['/']"
        routerLinkActive="active"
        fragment = "home"
        ariaCurrentWhenActive = "page"
        >Home</li>
        <li 
        class = "list"
        routerLink = "['/aboutus']"
        routerLinkActive="active"
        >About us</li>
        <li 
        class = "list"
        routerLink = "['/testimonials']"
        routerLinkActive="active"
        fragment = "testimonials"
        >Reviews</li>
        <li 
        class = "list"
        routerLink = "['/solutions']"
        routerLinkActive="active"
        fragment = "process"
        >How it Works</li>
        <li 
        class = "list"
        routerLink = "['/contact']"
        routerLinkActive = "active"
        fragment="contact"
        >Contact</li>
      </ul>

      <button 
      class="explore"
      routerLink="/dashboard"
      >Explore the Dashboard</button>
      </nav>
  