
/* open sans Font */

  .navbar {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 13%;
    padding-bottom: 5px;
    position: fixed;
    top: 0;
    z-index: 1000;
    transition: all 0.3ms;
    /* backdrop-filter: blur(20px); */
  }
  .navbar.scrolled{
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.304) 0px 25px 20px -20px;
  }
.divImg {
    width: 12%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.divImg > h2{
  font-size: 25px;
  font-family: "Tagesschrift", system-ui;
  font-weight: 900;
  color: rgb(21, 137, 183);
 
}
  ul {
    width: 40%;
    height: 43px;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 13px;
    /* background-color: rgba(255, 255, 255, 0.115); */
    /* backdrop-filter: blur(12px); */
    border-radius: 50px;
  }
.list {
    /* color: white; */
    padding-right: 17px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 17px;
    border-radius: 20px;
    font-size: 16px
  }
.list:hover{
    cursor: pointer;
    color: rgb(21, 137, 183);
    transition: all ease-in 0.3s;
  }

.active{
    color: rgb(58, 58, 58)
}

.explore{
    width: 175px;
    height: 47px;
    /* border: solid rgba(231, 231, 231, 0.952) 2px; */
    border: solid black 2px;
    /* font-weight: bold; */
    /* color: rgba(231, 231, 231, 0.952); */
    color: black;
    border-radius: 2px;
    font-size: 15px;
    /* font-family: "Open Sans", sans-serif; */
}

.explore:hover{
   cursor: pointer;
   background-color: rgb(21, 137, 183);
   color: white;
   transition: all ease-in-out 0.5ms;
   border: none;
}