<section class="whyChoose">
    <div class="why">
      <div class="iconWhy">
        <div class="ico">
      <ng-icon name="matUpcomingOutline"/>
      </div>
      <h2>Why Choose Us?</h2>
    </div>
     <h4>Why Thousands trust Us with Efficient Energy Predictions</h4>
    </div>
    <div class="experience">
      <p>Experience peak energy prediction that's efficient, secure, intelligent and sustainable</p>
      <div class="flex">
        
        <div class="multi">
          <div style="background-color: rgb(215, 38, 73);" class="icon">
            <ng-icon name="letsLightning"/>
          </div>
          <h2>Reduce Energy cost by up to 70%.</h2>
          <img class="reduce1" src="/EnergyHome.jpg" alt="">
          <img class="reduce2" src="/HomeBackground.avif"/>
        </div>

        <div style="background-color: rgb(251, 240, 224);" class="multi">
          <div style="background-color: coral;" class="icon">
            <ng-icon name="letsLightningDuotone"/>
          </div>
          <img class="fore" src="/forecast.jpg" alt="">
          <h2>Enhanced Simple solutions that are kind to the planet.</h2>
        </div>

        <div class="multi last">
          <div style="background-color: rgb(21, 137, 183);" class="icon">
            <ng-icon name="hugeLocation03"/>
          </div>
          <h2>Start optimizing energy predictions now with our AI model—boost the reliability and lifespan of your renewable energy systems!</h2>
          <button class="sign">Start Optimizing</button>
        </div>
      </div>
    </div>
  </section>