<section class="whyChoose">
    <div class="why">
      <div class="iconWhy">
        <div class="ico">
      <ng-icon name="matUpcomingOutline"/>
      </div>
      <h2>Why Choose Us?</h2>
    </div>
     <!-- <h4>Why Thousands trust Us with Efficient Energy Predictions</h4> -->
    </div>
    <div class="experience">
      <!-- <p>Experience peak energy prediction that's efficient, secure, intelligent and sustainable</p> -->
      <div class="flex">
        
        <div class="multi">
          <div style="background-color: rgb(21, 137, 183);" class="icon">
            <ng-icon name="letsLightning"/>
          </div>
          <h2>Reduce operational costs in your industry, and improve sustainability efforts.
          </h2>
          <img class="reduce1" src="/EnergyHome.jpg" alt="">
          <img class="reduce2" src="/HomeBackground.avif"/>
        </div>

        <div style="background-color: rgb(251, 240, 224);" class="multi rose">
          <div style="background-color: coral;" class="icon">
            <ng-icon name="letsLightningDuotone"/>
          </div>
          <img class="fore" src="/forecast.jpg" alt="">
          <h2>Enhance your industrial energy management systems.</h2>
        </div>

        <div class="multi last">
          <div style="background-color: rgb(21, 137, 183);" class="icon">
            <ng-icon name="heroBolt"/>
          </div>
          <h2>Optimizing energy predictions with our trained AI model boosts the reliability and lifespan of all your energy systems!</h2>
          <button class="sign">Start Optimizing</button>
        </div>
      </div>
    </div>
  </section>