<section class="whyChoose">
  <div class="why">
    <div class="iconWhy">
      <div class="ico">
        <ng-icon name="matUpcomingOutline" />
      </div>
      <h2>Why Choose Us?</h2>
    </div>
  </div>

  <div class="experience">
    <div class="flex">
      <div class="multi">
        <div class="icon" style="background-color: rgb(21, 137, 183);">
          <ng-icon name="letsLightning" />
        </div>
        <h2>Reduce operational costs in your industry, and improve sustainability efforts.</h2>
      </div>

      <div class="multi rose">
        <div class="icon" style="background-color: coral;">
          <ng-icon name="letsLightningDuotone" />
        </div>
        <h2>Enhance your industrial energy management systems.</h2>
      </div>

      <div class="multi last">
        <div class="icon" style="background-color: rgb(21, 137, 183);">
          <ng-icon name="heroBolt" />
        </div>
        <h2>Optimizing energy predictions with our trained AI model boosts the reliability and lifespan of all your energy systems!</h2>
        <button class="sign">Start Optimizing</button>
      </div>
    </div>
  </div>
</section>