<section class="works" id= "process">

    <div class="left">
      <div class="iconWhy">
        <div style="background-color: coral; color: white;" class="ico">
      <ng-icon name="matUpcomingOutline"/>
      </div>
      <h2>How It Works</h2>
    </div>
      <h3>Your Path to Efficient Energy Management in <b>3 Easy Steps</b></h3>
      <div class="coral">
        <div class="consult">
        <h3>Get IOT Device (smart meters, industrial sensors)</h3>
        <p>Get an IOT device so accurate energy consumption predictions for real-time energy usage.</p>
        </div>
        <h2 style="font-weight: 600;">01/<span style="color:grey;">03</span></h2>
      </div>
      <div class="design">
        <div class="consult2">
          <h3>Gain Authorized Access</h3>
          <p>Sign up/Create account with us to gain authorized access to our real-time predictive model.</p>
        </div>
        <h2 style="font-weight: 600;">02/<span style="color:grey;">03</span></h2>
      </div>
      <div class="install">
        <div class="consult3">
          <h3>Installation on IOT Device</h3>
          <p>Connect our Software to IOT device (smart meters, industrial sensors) and enjoy real-time energy consumption predictions.</p>
        </div>
        <h2 style="font-weight: 600;">03/<span style="color:grey;">03</span></h2>
      </div>
    </div>

    <div class="right">
      <img src="/randomImage.avif" alt="">
    </div>
    
  </section>