<section class="testimonials" id="testimonials">
  <header class="iconWhy secIcon">
    <div style="background-color: rgb(21, 137, 183)" class="iconStory">
      <ng-icon name="heroStarSolid" />
    </div>
    <h2 style="font-weight: 500">Our Clients Love Us</h2>
  </header>

  <div class="customers">
    <h3>What Our Clients Say</h3>
  </div>

  <div class="slideButton">
    <button class="nav prev" *ngIf="showNav" (click)="prev()">
      <ng-icon name="phosphorArrowCircleLeftLight" />
    </button>
    <button class="nav next" *ngIf="showNav" (click)="next()">
      <ng-icon name="phosphorArrowCircleRightLight" />
    </button>
  </div>

  <div class="slider">
    <div class="slides" [style.transform]="'translateX(-' + (current * (100/3)) + '%)'">
      <div class="slideGradient" *ngFor="let t of testimonials; let i = index; trackBy: trackByIdx"
           [ngStyle]="{ background: 'linear-gradient(' + (i % 2 === 0 ? evenGradient : oddGradient) + ')' }">
        <div class="slide">
          <div class="header">
            <img class="avatar" [src]="t.avatarUrl" [alt]="t.name" />
            <div class="meta">
              <h4>{{ t.name }}</h4>
              <small>{{ t.role }}</small>
            </div>
            <div class="rating">
              <ng-container *ngFor="let star of [1,2,3,4,5]">
                <span [class.filled]="star <= t.rating">★</span>
              </ng-container>
              <small>{{ t.rating }}.0 Rating</small>
            </div>
          </div>
          <p class="body">{{ t.text }}</p>
        </div>
      </div>
    </div>
  </div>
</section>