   <link href='https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend+Giga:wght@100..900&family=Matemasie&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap' rel="stylesheet">
   
   <div class = "homeMain">
  <div class = "home">
    <div class="overlay">
      <app-header/>
      <div class = "content">
          <h2>Electrify tomorrow with renewable brilliance.</h2>
          <h4>The Future deserves a clean, cost-savvy kickstart!</h4>
          <p>
              Fueled by historical insights, our energy predictions are 97% on the money—almost like a time machine for your power bill! 
              Explore clean energy solutions that pamper the planet and your wallet.
      </div>
      <div class="flexDiv">
        <div class="performance"></div>
        <div class="performance"></div>
      </div>
    </div>

  </div>

  <section class="whyChoose">
    <div class="why">
      <div class="iconWhy">
        <div class="ico">
      <ng-icon name="matUpcomingOutline"/>
      </div>
      <h2>Why Choose Us?</h2>
    </div>
     <h4>Why Thousands trust Us for Renewable Energy Solutions</h4>
    </div>
    <div class="experience">
      <p>Experience power that's efficient, intelligent and sustainable</p>
      <div class="flex">
        
        <div class="multi">
          <div style="background-color: rgb(215, 38, 73);" class="icon">
            <ng-icon name="letsLightning"/>
          </div>
          <h2>Reduce Energy cost by up to 70%.</h2>
          <img class="reduce1" src="/EnergyHome.jpg" alt="">
          <img class="reduce2" src="/HomeBackground.avif"/>
        </div>

        <div style="background-color: rgb(251, 240, 224);" class="multi">
          <div style="background-color: coral;" class="icon">
            <ng-icon name="letsLightningDuotone"/>
          </div>
          <img class="fore" src="/forecast.jpg" alt="">
          <h2>Simple solutions that are kind to the planet.</h2>
        </div>

        <div class="multi">
          <div style="background-color: rgb(21, 137, 183);" class="icon">
            <ng-icon name="hugeLocation03"/>
          </div>
          <h2>Guidance from experts at every step.</h2>
          <button class="sign">Sign in</button>
        </div>
      </div>
    </div>
  </section>

  <section class="stories">
    <header class="iconWhy">
    <div style="background-color: coral;" class="iconStory">
      <ng-icon name="matEnergySavingsLeafOutline"/>
    </div>
    <h2 style="font-weight: 500;">Our Stories</h2>
  </header>
  <h2>We Are Committed to Accelerating the Shift to Renewable Energy</h2>
  <article class="detail">
    <img src="/Ecovision.webp" alt="">
    <div class="analyze">

      <div class="analyzeSub">
        <div class="omo">
          <h2>30 <span style="color: rgb(92, 92, 92); font-weight: 700;">+</span></h2>
        <p style="color: grey; font-size: 13px; font-weight: 500;">Countries Served</p>
        </div>
        <div class="lyze1">
          <ng-icon name="phosphorGlobeHemisphereWestThin"/>
        </div>
      </div>

      <div class="analyzeSub">
        <div class="lyze2">
          <ng-icon name="phosphorChartLineUpThin" />
        </div>
        <div class="omo">
          <h2><span style="color: rgb(92, 92, 92); font-weight: 700;">$</span>5.8m</h2>
        <p style="color: grey; font-size: 13px; font-weight: 500;">Cost Effective</p>
        </div>
      </div>

       <div class="analyzeSub">
        <div class="omo">
          <h2>4.5/5</h2>
        <p style="color: grey; font-size: 13px; font-weight: 500;">Ratings from Clients</p>
        </div>
        <div  class="lyze3">
          <ng-icon name="heroStarSolid" />
        </div>
       </div>
    </div>
  </article>
  </section>

  <section class="works">

    <div class="left">
      <div class="iconWhy">
        <div style="background-color: coral; color: white;" class="ico">
      <ng-icon name="matUpcomingOutline"/>
      </div>
      <h2>How it Works</h2>
    </div>
      <h3>Your Path to Renewable Energy in <b>3 Easy Steps</b></h3>
      <div class="coral">
        <h2 style="font-weight: 600;">01/<span style="color:grey;">03</span></h2>
      </div>
      <div class="design">
        <h2 style="font-weight: 600;">02/<span style="color:grey;">03</span></h2>
      </div>
      <div class="install">
        <h2 style="font-weight: 600;">03/<span style="color:grey;">03</span></h2>
      </div>
    </div>

    <div class="right">
      <img src="/randomImage.avif" alt="">
    </div>
    
  </section>
</div>