.homeMain {
    width: 100%;
    height: max-content;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;

}
.home {
    width: 100%;
    height: 100vh; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("/EnergyTurbine.jpeg");
    transition: 0.5s ease-in-out;
}
.overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.56);
    /* background-color: rgba(0, 0, 0, 0.305); */
    /* background-color: rgba(0, 0, 0, 0.289); */
    padding-top: 90px;
}
.content {
    width: 100%;
    height: 320px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-left: 75px;
    padding-right: 47%;
    padding-top: 7%;
    /* background-color: black; */
    color: whitesmoke;
}

.content > h2{
    font-size: 30px;
    font-weight: 500;
}

.content > h4{
    font-weight: 500;
}

.content > p{
    font-size: 14px;
    font-weight: 300;
}

.flexDiv{
    width: 48%;
    height: 260px;
    margin-top: 12px;
    margin-left: auto;
    /* background-color: red; */
    display: flex;
    gap: 30px;
}

.performance{
    width: 42%;
    height: 100%;
    background-color: rgb(56, 56, 57);
}

.whyChoose{
    width: 100%;
    height: 400px;
    background-color: rgb(0, 0, 9);
    color: whitesmoke;
    padding-top: 80px;
    padding-left: 60px;
}
.why{
    width: 100%;
    height: 150px;
}
.iconWhy{
    width: auto;
    height: auto;
    display: flex;
    gap: 10px;
    align-items: center;
}

.ico{
    width: 43px;
    height: 45px;
    background-color: rgb(199, 54, 54);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 27px;
    border-radius: 50px;
}
.why>h2{
    font-size: 14px;
    font-weight: 350;
}

.why>h4{
    width: 30%;
    height: auto;
    font-size: 27px;
    font-weight: 400;
}

.experience{
    width: 100%;
    height: 170px;
    display: flex;
    align-items: center;
    gap: 35px;
}

.experience>p{
    width: 15%;
    font-size: 14px;
    font-weight: 350;
}

.flex{
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.multi{
    width: 27%;
    height: 350px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: rgb(242, 245, 245);
    border-radius: 15px;
    padding: 25px;
    color: black;
}
.icon{
    width: 47px;
    height: 47px;
    background-color: rgb(21, 137, 183);
    font-size: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    color: white;
}

.multi>h2{
    font-weight: 500;
    font-size: 25px;
}
.reduce1{
    width: 130px;
    height: 95px;
    border-radius: 15px;
    transform: skewY(10deg) rotate(-20deg);
    position: absolute;
    margin-top: 165px;
    margin-left: 80px;
}
.reduce2{
    width: 130px;
    height: 95px;
    border-radius: 15px;
    margin-left: 55px;
    transform: skewY(deg) rotate(-10deg);
}

.fore{
    width: 225px;
    height: 100px;
    border-radius: 15px;
}

.sign{
    width: 110px;
    height: 45px;
    border: solid black 2px;
    border-radius: 4px;
    font-weight: 500;
    transition: all ease-in 0.3s;
}
.sign:hover{
    cursor: pointer;
    background-color: rgb(21, 137, 183);
    color: white;
    border: none;
}

.stories{
    width: 100%;
    height: 600px;
    margin-top: 270px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.iconStory{
    width: 47px;
    height: 47px;
    /* background-color: rgb(21, 137, 183); */
    font-size: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    color: white;
}
.stories>h2{
    width:33%;
    font-size: 27px;
    text-align: center;
}

.detail{
    width: 80%;
    height: 450px;
    padding-top: 10px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.detail>img{
    width: 63%;
    height: 95%;
    /* object-fit: cover; */
    border-radius: 15px;
}

.analyze{
   width: 34%;
   height: 100%;
   display: flex;
   flex-direction: column;
   padding-left: 50px;
   gap: 10px;
}

.analyzeSub{
    width: 95%;
    height: 150px;
    display: flex;
    align-items: center;
    gap: 60px;
    /* background-color: blueviolet; */
}
.omo{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
}

.omo>h2{
    font-size: 30px;
    font-weight: 800;
}

.lyze1{
    width: 110px;
    height: 100px;
    border-radius: 10px;
    background-color: rgb(215, 38, 73);
    box-shadow: 5px 5px 10px rgba(215, 38, 73, 0.531);
    transform: rotate(13deg);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 60px;
    transition: box-shadow 0.3s ease, filter 0.3s ease;
}

.lyze2 {
    width: 110px;
    height: 100px;
    background-color: coral;
    border-radius: 10px;
    box-shadow: -5px 5px 10px rgba(255, 127, 80, 0.456);
    transform: rotate(-13deg);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 60px;
    transition: box-shadow 0.3s ease, filter 0.3s ease;
  }
  
  .lyze3{
    width: 110px;
    height: 100px;
    background-color: rgb(21, 137, 183);
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(21, 137, 183, 0.474);
    transform: rotate(13deg);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 60px;
    transition: box-shadow 0.3s ease, filter 0.3s ease;
  }
  
  .lyze1:hover{
    cursor: pointer;
    box-shadow: 0 0 30px 10px rgba(215, 38, 73, 0.531);
    filter: brightness(1) saturate(1.1);
  }

  .lyze2:hover {
    cursor: pointer;
    box-shadow: 0 0 30px 10px rgba(255, 180, 100, 0.8);
    filter: brightness(1) saturate(1);
  }

  .lyze3:hover{
    cursor: pointer;
    box-shadow: 0 0 30px 10px rgba(21, 137, 183, 0.474);
    filter: brightness(1) saturate(1.1);
  }

  .works{
    width: 100%;
    height: 500px;
    display: flex;
    gap: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
  }

  .left{
    width: 50%;
    height: 98%;
    display: flex;
    flex-direction: column;
    gap: 17px;
  }
  .left>h3{
    font-size: 27px;
  }

  .right{
    width: 27%;
    height: 100%;
    border-radius: 13px;
  }
  
  .right>img{
    width: 100%;
    height: 100%;
    border-radius: 13px;
  }