.homeMain {
    width: 100%;
    height: max-content;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;

}
.home {
    width: 100%;
    height: 100vh; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("/Community.webp");
    transition: 0.5s ease-in-out;
}
.overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.381);
    /* background-color: rgba(0, 0, 0, 0.305); */
    /* background-color: rgba(0, 0, 0, 0.289); */
    padding-top: 90px;
}
.content {
    width: 100%;
    height: 320px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-left: 75px;
    padding-right: 47%;
    padding-top: 7%;
    /* background-color: black; */
    /* color: whitesmoke; */
}

.content > h2{
    font-size: 30px;
    font-weight: 500;
}

.content > h4{
    font-weight: 500;
}

.content > p{
    font-size: 14px;
    font-weight: 300;
}

/* .flexDiv{
    width: 48%;
    height: 260px;
    margin-top: 12px;
    margin-left: auto;
    background-color: red;
    display: flex;
    gap: 30px;
}

.performance{
    width: 42%;
    height: 100%;
    background-color: ;
}
.performance>img{
    width: 100%;
    height: 100%;
} */

.iconWhy{
  width: auto;
  height: auto;
  display: flex;
  gap: 10px;
  align-items: center;
}

.iconStory{
  width: 47px;
  height: 47px;
  /* background-color: rgb(21, 137, 183); */
  font-size: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  color: white;
}

  .testimonials{
    width: 100%;
    height: 610px;
    padding-top: 60px;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
  }

  .secIcon{
    padding-left: 140px;
  }

  .customers>h3{
    font-size: 33px;
    padding-left: 140px;
    padding-top: 7px;
  }

 