.homeMain {
    width: 100%;
    height: max-content;
    /* background-color: #f0f0f0; */
    background-color: #fff;
    display: flex;
    flex-direction: column;

}
.home {
    width: 100%;
    height: 100vh; 
    display: flex;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: aliceblue;
    /* background-image: url("/Community.webp"); */
    transition: 0.5s ease-in-out;
    padding-top: 90px;
}
.content {
    width: 50%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-color: blue; */
    gap: 10px;
    padding-left: 75px;
    padding-right: 7%;
    margin-top: 3%;
}

.content > h2{
    font-size: 50px;
    font-weight: 500;
}

.content > h4{
  font-size: 20px;
    font-weight: 500;
}

.content > p{
    font-size: 14px;
    font-weight: 400;
}

.animate{
  width: 45%;
  height: auto;
  display: flex;
  align-items: center;
}

.iconWhy{
  width: auto;
  height: auto;
  display: flex;
  gap: 10px;
  align-items: center;
}

.iconStory{
  width: 47px;
  height: 47px;
  /* background-color: rgb(21, 137, 183); */
  font-size: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  color: white;
}

  .testimonials{
    width: 100%;
    height: 610px;
    padding-top: 60px;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
  }

  .secIcon{
    padding-left: 140px;
  }

  .customers>h3{
    font-size: 33px;
    padding-left: 140px;
    padding-top: 7px;
  }

 